.containerPai {
    background-image: url("/wallpapersHome/backAnimatronics.png");
    box-sizing: border-box;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    width: 100%;
  }
  
  .header{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
  }
  
  .body{
    width: 100%;

  }
  
  .subDiv1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
  }

.register {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gif {
    border: 0.25rem solid gold;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.textStyle {
    font-size: x-large;
}

.Form {
    background-color: transparent;
    width: 80%;
    border-radius: 8px;
    border: 3px solid #f4c519;
    background-color: #202020c1;
    transition: 0.5s;
}

.Form:hover {
    border: 3px solid #6f47dd;
    box-shadow: 0 0 30px #6f47dd;
    background-color: #202020e5;
    transition: 0.5s;
}

.inputField {
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlePage {
    background-image: url('/background-Font.png');
    text-align: center;
    font-family: 'Impact', sans-serif;
    /* Substituí Impact-Regular pela fonte Impact */
    font-weight: 100;
    font-size: 70px;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    /* Adicione para compatibilidade com navegadores modernos */
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-shadow: 0 0 30px #f4c519;
}

.labels {
    text-transform: uppercase;
    color: #f4c519;
    text-shadow: 0 0 30px #f4c519;
}


.title {
    text-transform: uppercase;
    color: white;
}

.Input {
    width: 70%;
    margin: 5px;
    padding: 1rem;
    font-size: large;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}


.uploads {
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tagForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.regis {
    margin: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnRegister {
    background-color: #f4c519;
    color: black;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.25rem;
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 0.6rem;
    margin: 1.5rem;
}

.btnRegister:hover {
    background-color: #6f47dd;
    box-shadow: 0 0 30px #6f47dd;
    color: whitesmoke;
}

.fieldUp {
    width: 50%;
    margin: 0.5rem;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid black;
}

.alert {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}