#icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footerStyle {
    background-color: #202020c1;
    color: #f4c519;
    padding: 20px;
    text-align: center;
    min-width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
}