.card {
    padding: 1rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    margin: 2rem;
    min-height: 20rem;
    max-height: 20rem;
    -webkit-box-shadow: 7px 10px 23px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 23px -6px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 23px -6px rgba(0,0,0,0.75);
}

.icon {
    border-radius: 100px;
    border: 1px solid black;
}

.btns {
    width: 25%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.delete {
    padding: 7%;
    width: 40%;
    background-color: purple;
    border-radius: 5px;
    color: white;
    border: none;
}

.edit {
    padding: 7%;
    width: 40%;
    background-color: rgb(233, 233, 0);
    border-radius: 5px;
    color: white;
    border: none;
}


@media screen {
    
}