.card {
    padding: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: medium;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    min-height: 22.5rem;
    max-height: 22.5rem;
    -webkit-box-shadow: 7px 10px 23px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 23px -6px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 23px -6px rgba(0,0,0,0.75);

    box-sizing: border-box;
    background-color: #202020d7;
    border: 2px solid #f4c519;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    transition: 0.5s;
    margin-left: 3rem;
}

.card:hover {
    transform: translateY(-0.3125rem);
    border: 2px solid #6f47dd;
    box-shadow: 0 0 30px #6f47dd;
    transition: 0.5s;
}

.icon {
    border-radius: 100%;
    border: 1px solid black;
    max-width: 8rem;
    max-height: 8rem;
    min-width: 8rem;
    min-height: 8rem;
}

.btns {
    width: 25%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
}

.delete {
    padding: 7%;
    width: 40%;
    background-color: purple;
    border-radius: 5px;
    color: white;
    border: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 0.6rem;
}

.delete:hover {
    background-color: #9e019e;
    box-shadow: 0 0 10px #9e019e;
}

.edit {
    padding: 7%;
    width: 40%;
    color: black;
    border: none;
    background-color: gold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 0.6rem;
}

.edit:hover {
    background-color: #ffde67;
    box-shadow: 0 0 10px #ffde67;
}

.details {
    padding: 7%;
    width: 40%;
    border: none;
    background-color: #dc6904;
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 0.6rem;
}

.details:hover {
    box-shadow: 0 0 10px #dc6904;
}

.p {
    color: whitesmoke;
}

.b {
    color: #f4c519;
    text-shadow: 0 0 30px #f4c519;
}


@media screen and (max-width: 600px) {
    
}