.containerPai {
    background-color: #232323;
    box-sizing: border-box;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: 100%;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}


.itens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.animatronics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.body {
    color: white;
}