.containerPai {
    background-image: url("/wallpapersHome/backAnimatronics.png");
    box-sizing: border-box;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: 100%;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    margin-right: 1px;
}

.titlePage {
    background-image: url('/background-Font.png');
    text-align: center;
    font-family: 'Impact', sans-serif;
    /* Substituí Impact-Regular pela fonte Impact */
    font-weight: 100;
    font-size: 70px;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    /* Adicione para compatibilidade com navegadores modernos */
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-shadow: 0 0 40px gold;
}

.itens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.animatronics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.body {
    color: white;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.subDiv1 {
    width: 100%;
}

.subDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid gold;
}

.searchText {
    color: gold;
    border-radius: 5px;
    padding: 5px;
    margin: 0.5rem;
}

.inSearch {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    border: 1px solid black;
    outline: none;
}

.selectSearch {
    padding: 10px;
    border-radius: 5px;

}

.btnRegister {
    background-color: gold;
    color: black;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.25rem;
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 0.6rem;
    margin: 1.5rem;
}

.btnRegister:hover {
    background-color: #6f47dd;
    box-shadow: 0 0 30px #6f47dd;
    color: whitesmoke;
}

.containerCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .header {
      display: none;
      visibility: hidden;
    }

    .titlePage {
        font-size: 60px;
    }

  }