.containerPai {
    background-color: #232323;
    box-sizing: border-box;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: 100%;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
}

.titlePage {
    background-image: url('/background-Font.png');
    text-align: center;
    font-family: 'Impact', sans-serif;
    /* Substituí Impact-Regular pela fonte Impact */
    font-weight: 100;
    font-size: 70px;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    /* Adicione para compatibilidade com navegadores modernos */
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-shadow: 0 0 40px gold;
}

.itens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.animatronics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.body {
    color: white;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.subDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnRegister {
    background-color: gold;
    color: #ffffff;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.25rem;
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 0.6rem;
    box-shadow: 0 0 30px #ffde67;
    margin: 1.5rem;
}

.btnRegister:hover {
    background-color: #ffde67;
}

.containerCard {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;

}