.containerPai {
    background-image: url('/wallpapersHome/backPizzeria.png');
    box-sizing: border-box;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.body {
    display: flex;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
}

.subDiv2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cardPizzeria {
    align-items: center;
    justify-content: center;
    display: flex;
}

@media only screen and (max-width: 600px) {
    .headerMobile {
        display: inline;
        visibility: visible;
    }

    .header {
        display: none;
        visibility: hidden;
    }
}