.containerPai {
    background-image: url('/wallpapersHome/backHomeP.png');
    box-sizing: border-box;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .containerPai2 {
    background-color: black;
      box-sizing: border-box;
      background-size: cover;
      background-position: right;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
  
  .container {
    display: flex;
    width: 100%;
  }
  
  .headerMobile {
    display: none;
    visibility: hidden;
  }
  
  .header {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
  }
  
  .body {
    width: 100%;
  }
  
  .subDiv1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .titlePage {
    background-image: url('/background-Font.png');
    text-align: center;
    font-family: 'Impact', sans-serif;
    /* Substituí Impact-Regular pela fonte Impact */
    font-weight: 100;
    font-size: 70px;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    /* Adicione para compatibilidade com navegadores modernos */
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-shadow: 0 0 40px gold;
  }
  
  .subDiv2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202020c1;
    padding: 1rem;
    margin-top: 10rem;
    border: 6px outset #f4c519;
    transition: 1s;
    width: 25%;
  }

  .form:hover {
    border: 6px outset #6f47dd;
    box-shadow: 0 0 30px #6f47dd;
    background-color: #202020f1;
  }

  .inputsLabels {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .labels {
    color: #f4c519;
    text-shadow: 0 0 30px #f4c519;
  }

  .inputs {
    border-radius: 2px;
    background-color: whitesmoke;
    border: #f4c519;
    color: #202020;
    outline: none;
    border: 3px solid #f4c519;
    padding: 0.4rem;
    transition: 0.5s;
    width: 20vw;
  }

  .inputs:hover {
    border: 3px solid #6f47dd;
    outline: none;
    transition: 0.5s;
  }

  .divFooter {
    margin-top: 8rem;
  }

  .divButton {
    margin: 1rem;
  }

  .divButton button {
    padding: 0.3rem;
    border: 2px solid #202020;
    background-color: #f4c519;
    color: #202020;
    border-radius: 2px;
  }

  .divButton button:active {
    padding: 0.3rem;
    border: 2px solid #6f47dd;
    background-color: #6f47dd;
    box-shadow: 0 0 30px #6f47dd;
    border-radius: 2px;
    color: whitesmoke;
  }

  .alert {
    color: whitesmoke;
    box-shadow: 0 0 30px red;
    background-color: #202020;
    border: 3px solid red;
    position: absolute;
    padding: 1rem;
  }

  .form2  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    background-color: black;
  }

  .ultiButton {
    background-color: #202020;
  }

  @media only screen and (max-width: 600px) {

    .headerMobile {
        display: inline;
        visibility: visible;
      }
  }