#main{
  display: flex;
  margin: 0%;
  padding: 0%;
}

.main2 {
background-image: url('/backGroundHome.jpg');
min-width: 90%;
min-height: 90%;
}

.divTitle {
max-width: 100%;
align-items: center;
display: flex;
justify-content: center;
}

.titlePage {
  text-align: center;
}