.containerPai{
  background-image: url('/wallpapersHome/backHome2.png');
  box-sizing: border-box;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container{
  display: flex;
  width: 100%;
}

.header{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.body{
  width: 100%;
}

.subDiv1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.titlePage {
  background-image: url('/background-Font.png');
  text-align: center;
  font-family: 'Impact', sans-serif;
  /* Substituí Impact-Regular pela fonte Impact */
  font-weight: 100;
  font-size: 70px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  /* Adicione para compatibilidade com navegadores modernos */
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  text-shadow: 0 0 40px gold;
}

.subDiv2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.subDivStorie {
  background-color: #202020c1;
  width: 60%;
  border-top: 6px double #f4c519;
  border-bottom: 6px double #f4c519;
  margin-top: 4rem;
}

.textStorie {
  color: rgb(180, 180, 180);
  padding: 1rem;
}

.titleStorie {
  background-image: url('/background-Font.png');
  text-align: center;
  font-family: 'Impact', sans-serif;
  /* Substituí Impact-Regular pela fonte Impact */
  font-weight: 100;
  font-size: 40px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  /* Adicione para compatibilidade com navegadores modernos */
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  text-shadow: 0 0 150px gold;
}

.bannerStorie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border: 6px double #f4c519;
}

.titlePage2 {
    background-image: url('/background-Font.png');
    text-align: center;
    font-family: 'Impact', sans-serif;
    /* Substituí Impact-Regular pela fonte Impact */
    font-weight: 100;
    font-size: 50px;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    /* Adicione para compatibilidade com navegadores modernos */
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-shadow: 0 0 40px gold;
  }

@media only screen and (max-width: 600px) {
  .subDivStorie {
    width: 100%;
    margin-top: 1rem;
  }

  .textStorie {
    padding: 0.3rem;
  }
}