.container {
    display: flex;
}

.buttons {
    margin: 1rem;
    display: flex;
    gap: 0.8rem;
}

.button {
    text-align: center;
    padding: 0.6rem 0.6rem;
    background-color: purple;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
