.container {
    display: flex;
}

.buttons {
    text-align: center;
  }
  
.buttons button {
    padding: 0.8rem 0.8rem;
    background-color: purple;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 5rem;
    transition: 1s;
  }
  
.buttons button:hover {
    transition: 0.5s;
    padding: 0.8rem 1rem;
    background-color: darkorchid;
    }