.mainContainer {
  background-image: url('/wallpapersHome/backHome2.png');
  box-sizing: border-box;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.mainContainer label {
  color: #FFF;
}

.mainContainer input {
  color: #FFF;
}

.container {
  display: flex;
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.body {
  width: 100%;
}

.subDiv1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.titlePage {
  background-image: url('/background-Font.png');
  text-align: center;
  font-family: 'Impact', sans-serif;

  font-weight: 100;
  font-size: 70px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  text-shadow: 0 0 40px gold;
}

.divButtons {
  text-align: center;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: 0.3rem;
  margin-left: 5rem;
}

.divButtons button {
  padding: 0.8rem 1rem;
  background-color: #f4c519;
  color: #fff;
  border: none;
  cursor: grab;
  border-radius: 3px;
  transition: 0.5s;
}

.divButtons button:hover {
  transition: 0.5s;
  padding: 0.8rem 1.3rem;
  border-radius: 3px;
  background-color: #6f47dd;
  box-shadow: 0 0 30px #6f47dd;
}

.inputImg {
  padding: 0.8rem 1rem;
  background-color: #f4c519;
  color: #fff;
  border: none;
  cursor: grab;
  border-radius: 3px;
  transition: 0.5s;
}