.containerPai {
  background-image: url('/wallpapersHome/backHome2.png');
  box-sizing: border-box;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  position: fixed;
}

.body {
  width: 100%;
}

.titlePage {
  background-image: url('/background-Font.png');
  text-align: center;
  font-family: 'Impact', sans-serif;
  /* Substituí Impact-Regular pela fonte Impact */
  font-weight: 100;
  font-size: 70px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  /* Adicione para compatibilidade com navegadores modernos */
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  text-shadow: 0 0 40px gold;
}

.subDiv1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.subDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.divButtons {
  text-align: center;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: 0.3rem;
  margin-left: 5rem;
}

.divButtons button {
  padding: 0.8rem 1rem;
  background-color: #f4c519;
  color: #fff;
  border: none;
  cursor: grab;
  border-radius: 3px;
  transition: 0.5s;
}

.divButtons button:hover {
  transition: 0.5s;
  padding: 0.8rem 1.3rem;
  border-radius: 3px;
  background-color: #6f47dd;
  box-shadow: 0 0 30px #6f47dd;
}

.secPizzerias {
  display: flex;
  flex-direction: column;
}

.containerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #f4c519d8;
  width: 50%;
  height: 50%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.imgPizzerias {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.titlePizzerias {
  text-align: center;
  font-weight: 600;
}

.icon {
  width: 600px;
  height: 300px;
}

.divText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texts {
  text-align: center;
  color: #fff;
}

.btns {
  margin: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.delete {
  padding: 1rem;
  background-color: purple;
  border-radius: 5px;
  color: white;
  border: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  border-radius: 0.6rem;
  box-shadow: 0 0 10px #9e019e;
}

.delete:hover {
  background-color: #9e019e;
}

.edit {
  padding: 1rem;
  color: black;
  border: none;
  background-color: gold;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  border-radius: 0.6rem;
  box-shadow: 0 0 10px #ffde67;
}

.edit:hover {
  background-color: #ffde67;
}

@media only screen and (max-width: 600px) {
  .header {
    display: none;
    visibility: hidden;
  }
}