@font-face {
    font-family: Impact-Regular;
    src: url('/impact.ttf');
  }

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.title {
    background-image: url('/background-Font.png');
  text-align: center;
  font-family: 'Impact', sans-serif;

  font-weight: 100;
  font-size: 70px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  text-shadow: 0 0 40px gold;
}

.containerMain {
    display: flex;
    background-color: #333;
}

.container {
    width: 80%;
    align-items: center;
    justify-content: flex-start;
}