.container{
    display: flex;
    background-color: rgb(39, 39, 39);
    box-sizing: border-box;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
  }
  
  .header{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .body{
    width: 100%;

  }
  
  .subDiv1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .titlePage {
    background-image: url('/background-Font.png');
    text-align: center;
    font-family: 'Impact', sans-serif;
    /* Substituí Impact-Regular pela fonte Impact */
    font-weight: 100;
    font-size: 70px;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    /* Adicione para compatibilidade com navegadores modernos */
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-shadow: 0 0 40px gold;
  }

.register {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(39, 39, 39);
}

.gif {
    border: 0.25rem solid gold;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.textStyle {
    font-size: x-large;
}

.Form {
    background-color: transparent;
    width: 80%;
    border-radius: 8px;
    border: 0.25rem solid gold;
}

.inputField {
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlePage {
    background-image: url('/background-Font.png');
    text-align: center;
    font-family: 'Impact', sans-serif;
    /* Substituí Impact-Regular pela fonte Impact */
    font-weight: 100;
    font-size: 70px;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    /* Adicione para compatibilidade com navegadores modernos */
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-shadow: 0 0 40px gold;
}


.title {
    text-transform: uppercase;
    color: white;
}

.Input {
    width: 70%;
    margin: 5px;
    padding: 1rem;
    font-size: large;
    border-radius: 5px;
    outline: none;
    border: 0.20rem solid black;
}

.divUploads {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.uploads {
    background-color: beige;
    width: 80%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tagForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}