/* Arquivo students.module.css */
.containerGiga {
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem;
    box-sizing: border-box;
    background-color: #333;
}

.title {
    background-image: url('/background-Font.png');
    text-align: center;
    font-family: 'Impact', sans-serif;
    /* Substituí Impact-Regular pela fonte Impact */
    font-weight: 100;
    font-size: 70px;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    /* Adicione para compatibilidade com navegadores modernos */
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-shadow: 0 0 40px gold;
}

.btnRegister {
    background-color: gold;
    color: #ffffff;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-left: 1rem;
}

.btnRegister:hover {
    background-color: goldenrod;
}

.containerCard {
    margin-top: 1.25rem;
}

.sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: stretch;
}

.card {
    width: calc(33.33% - 1.25rem);
    margin-bottom: 1.25rem;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border: 1px solid #878787;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-0.3125rem);
}

.imgDiv {
    width: 100%;
    height: 9.375rem;
    overflow: hidden;
}

.imgDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infos {
    padding: 1.25rem;
}

.infos p {
    margin: 0;
    color: #333;
}


.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin: 1rem;
}

.button {
    background-color: #3498db;
    color: #ffffff;
    padding: 0.75rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
}

.button:hover {
    background-color: #2980b9;
}

/* Customize the edit button */
.buttonEdit .button {
    background-color: #27ae60;
}

.buttonEdit .button:hover {
    background-color: #219a52;
}

/* Customize the delete button */
.buttonDelete .button {
    background-color: #e74c3c;
}

.buttonDelete .button:hover {
    background-color: #c0392b;
}